# -------------------------------------------------
# 👇 Git Ignore Configuration for Next.js Projects
# -------------------------------------------------

# 📦 Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# 🧪 Testing
/coverage

# ⚛️ Next.js Build Outputs
/.next/
out/

# 🚀 Production Builds
/build

# 🗂️ Miscellaneous
.DS_Store
*.pem

# 🪲 Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🔒 Environment Variables
.env
.env*.local

# ▲ Vercel
.vercel

# 🧑‍💻 TypeScript
*.tsbuildinfo
next-env.d.ts
